<html>

<head>
	<title>Console d'administration</title>
</head>

<body>


<a href="/user/contact/"> Mes contacts </a> |
<a href="/user/nouveaulieu/"> Ajouter un nouveau lieu </a> |
<a href="/user/listedesutilisateurs/"> Listes des utilisateurs </a> |
<a href="/user/lieu/"> Liste des Lieux </a> | 
<a href="/user/gestionpermission/"> Gérer les permissions  </a>

{% if perms.Contactapps.super_admin %}
<a href="/user/nouvellepermission/">ajouter une permission </a><br><br>
{% endif %}

</body>

</html>
