<html>

<head>
	<title> Un gestionnaire contact perso </title>
</head>

<body>
	<h1> Gestionnaire de contact de {{currentuser.user.username}} </h1>
	
<br>


<h2> Nouveau contact </h2>

	<form method="POST" action="/user/nouveaucontact/">{% csrf_token %}
		<label id="nom" > Noms </label> 
			<input  id="nom" type="text" name="nom" required><br><br>
		<label id="prenom" >Prénoms </label>
			<input id="prenom" type="text" name="prenom" required> <br><br>
		<label id="dateanniv" > Date d'anniversaire </label>
			<input id="dateanniv" type="text" name="dateanniv" > <br> <br>

		<label id="villeactuel" > Ville actuelle </label>	
		
			<select name="lieu">
				{% if leslieux %}					
				    {% for lieu in leslieux %}
					<option value="{{lieu.id}}"> {{lieu.ville}} </option>
				    {% endfor %}
				{% endif %}			
			</select> <br>
	
		<br>
		<button type="submit"> Enregistrez </button>
	</form>

</body>


</html>
