<html>

<head>
	<title> Mes contacts</title>
</head>

<body>



<a href="/user/nouveaucontact/"> Ajouter un contact </a> |
<a href="/user/contact/"> Retour </a> 

<br><br>
<table border=1>
	<tr>						
		
		<td> 
			{% if  moncontact.photo %}
			 <img src="{{ moncontact.photo.url }}" style="width:2OOpx; height:200px;"/>		
			{%endif%}
		 </td>
				
	</tr>
	<tr>						
		
		<td> Ajouter une photo <br>
		
			<form method="post" action="/user/{{moncontact.id}}/nouvellephoto/" enctype="multipart/form-data">
				 {% csrf_token %}
				 {{ form.as_p }}
				<input type="submit" value="Enregistrez">  
			</form>
			
		 </td>
				
	</tr>

	<tr>						
		
		<td> {{moncontact.names}} {{moncontact.secondnames}}  </td>
				
	</tr>
	
	<tr>	 	
					
		<td> Date d'anniversaire:  {{moncontact.birthday}} </td>
			
	</tr>

	<tr>	 	
					
		<td> localisation actuelle : {{moncontact.lieu.pays}} -> {{moncontact.lieu.region}} -> {{moncontact.lieu.ville}} </td>
				
	</tr>

	<tr>	 	
					
		<td>Enregistrez le : {{moncontact.date_creation}} </td>
				
	</tr>
	

</table>

</body>

</html>
