<html>

<head>
	<title> Mes contacts</title>
</head>

<body>

	<a href="/user/contact/"> Mes contacts </a> |  <a  href="/user/nouveaucontact/"> Ajouter un contact </a> |  <a  href="/user/consoledadministration/"> console d'administration </a> |  <a  href="/deconnexion/"> deconnexion </a>

{% if nombredecontact == 0  %}
	<h1> 
		votre liste de contacts est vide {{currentuser.user.username}}
	</h1>
{% else %}
	<h1>
		liste de vos contacts {{currentuser.user.username}}
	</h1>
{% endif %}


<table border=1>
	<tr>	 	
		<th> N° </th>			
		<th> Noms </th>
		<th> Prénoms </th>
		<th> ville </th>
		<th>  </th>		
	</tr>

	{% for contact in mescontacts  %}
		<tr>		 	
			<td> {{forloop.counter}} </td> 
			<td> {{contact.names}} </td> 
			<td> {{contact.secondnames}} </td>
			<td> {{contact.lieu.ville}} </td> 			
			<td> 	
				<a href="/user/{{contact.id}}/detail/"> détail </a> | 
				 <a href="/user/{{contact.id}}/supprimercontact/"> supprimer </a>
			</td>
		</tr>
	{% endfor %}	

		

</table>

</body>

</html>
