<html>

<head>
	<title> Gestionnaire de contact</title>
</head>

<body>

<h1> 
	La liste des Utilisateurs disponible 
</h1>

<a href="/user/"> Ajouter un utilisateur  </a> <br>

<table border=1>
		
		<tr>	 	
			<th> Nom d'utilisateur </th>
			<th> email </th>
			<th> skypeId </th>
			<th> Online </th>		
		</tr>

	{% for user in utilisateurs  %}
		<tr>		 	
			<td> {{user.user.username}} </td>
			<td> {{user.user.email}} </td>  
			<td> {{user.skypeid}} </td>
			<td> 
				
				{{user.online}} 

			</td>						
		</tr>
	{% endfor %}		

</table>

</body>

</html>
